# Keil build output
Objects/
Listings/
Debug/

*.axf
*.hex
*.o
*.dep
*.d

# Keil user settings
*.uvguix.*
*.uvoptx

# Keil debug config
**/DebugConfig/
*.dbgconf

# VS Code
.vscode/

# System files
Thumbs.db